version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: coachplanner_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: coachplanner
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: